

<h1>Python, JS,CSS,HTML job opening at OneDelta Synergies Pvt Ltd</h1>

<p>Posted March 26, 2013</p>

<p>
	<a href="" class="zocial primary">Apply to this job</a>
	<a href="" class="zocial primary">Ask a anonymous question</a>
</p>


<p>OneDelta Synergies Pvt. Ltd
Pune, Bangalore
www.onedelta.in</p>

<p>Full-time employment / Programming / All jobs at onedelta.in</p>

<p>OneDelta Synergies Pvt. Ltd is a startup lead by technology and functional domain veterans having excellent track record in innovation, technology and management, and an average industry experience of 17+ years, with experience working in MNCs as well as Startups.</p>

<p>OneDelta is committed to building World class Cloud based Solutions in the field of Law and Finance, for Large, Medium and Small Enterprises.</p>

<p>OneDelta is supported by a young and progressive Legal, Tax and Compliance firm in India with a revenue growth rate of 100%+ year over year for the last 3 years. A unique combination of Technology leaders and Domain experts has put OneDelta Synergies in a winning position. The flagship platform has completed successful trials with the 1.0 release at 2 major business houses in India and a pipeline of committed deployments throughout the year.</p>

<p>OneDelta is looking to bring in innovative and high performance individuals, who value ownership, commitment, and are passionate about technology.</p>

<p>OneDelta offers a unique opportunity for individuals to be responsible for design, development, testing and support under guidance from very experienced leaders, and adopting best industry practices.</p>

<p>For the current phase of recruitment we are looking for geeks with the following skills :</p>

UI Developer/Lead:

Extremely good with HTML5/CSS3/Javascript
Willingness to learn new technologies, and wear multiple hats (Developer, Support, Dev-Ops)
Github, Google Code , bitbucket link - Portfolio to show off the websites/apps developed
Experience with *nix platform as a user
Experience 3-5 years

Python Developer/Lead:
Python, Python Framework(s) experience, OR Ruby
MySQL, Postgres experience
Willingness to learn new technologies, and wear multiple hats (Developer, Support, Dev-Ops)
Github, Google Code , bitbucket link - Portfolio to show off the websites/apps developed
Experience with *nix platform as a user
Experience 3-5 years

<p>Other Qualities
Able to debate your design based on merit with mentors
Loves startup culture
Prior experience developing a product is a big plus
You will be part of the initial hire - There is so much to gain.</p>


</div>