$body-background: #f8f8f8;
$base-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: normal;
$base-margin: 1.5em;

$link-color: #444;
$link-hover-color: adjust_lightness($link-color, -20%);
$link-active-color: $link-color;
$link-visited-color: $link-color;