$body-background: #f8f8f8;
$base-font-family: "Asap", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: "Archivo Narrow", "PT Sans Narrow", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: normal;
$base-margin: 1.5em;