/* Base */

html{
  //background:url(../img/grey_wash_wall.png);
  background:#f1f1f1;
}


/* Grid Columns */

.grid-columns{
  position: relative;
  margin: 1.5rem 2rem;
  padding-top: 10px;
  //margin: 0 0px;
}

  .pin {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    display: inline-block;
    margin: 0 2px 15px;
    opacity: 1;
    padding: 15px 10px;
    @include box-sizing(border-box);
    transition: all 0.2s ease 0s;
    width: 250px;

    h3{
      @include font-size(13);
      font-family: $base-font-family;
      font-weight: 700;
    }

    h4{
      @include font-size(12);
    }
  }

  .grid-column-wrapper{
    margin-left: -10px;
    position: relative;
  }

/* List Style */

.job-type, .job-category, .user-list{
  @extend .list-inline;
}

/* Mast */

.mast{
  position: fixed;
  z-index: 1;
  background:#fff;
  @include box-shadow(0 3px 4px rgba(0,0,0,0.1));
  top: 60px;
  padding: 0;
  width: 100%;
}

.container{
    padding: 1.5rem 2rem;
}

/* Layout */

.content{
  margin: 30px auto auto;
}


/* Fixes Filter Bar to the Top of the page */

.fixed {
  .filters{
    top: 0;
    position: fixed;
    z-index: 1;
  }

  .grid-columns{
    padding-top: 77px;
  }
}


/* Header */

.branding{
  z-index: 2;
  padding: 0;
  height: 60px;
  top: 0;
  position: relative;

  li{
    margin-left: 1rem
  }
}

/* Filters */

.filters{

  background:#fff;
  @include box-shadow(0 3px 4px rgba(0,0,0,0.1));
  padding: 0;
  width: 100%;

  ul{
    margin: 0;
  }

  .post &{
    display: none;
  }
}

/* Job Category */

.job-category{


  form, select{
    display: inline;
    margin: 0;
  }

  input[type="text"]{
    width: 200px;
    margin: 0;
    padding: 3px 6px;
  }

  label{
    vertical-align: middle;
    margin-right: 1rem;
  }
}

/* Job Type */

.job-type{
  display: inline-block;
  a{
    display: inline-block;
    position: relative;
  }

  a:hover:after{
    content:'↓';
    position: absolute;
    left: 50%;
    font-size:20px;
    color: #666;
    margin-left: -4px;
    bottom: -20px;
  }

  li{
    margin-right: 2rem;
  }
}