<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Php software developer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>
<li>
  <a href="#">
    <img src="http://www.authenticjobs.com/logos/auxiliarydesignco_1351827973.png" alt="" width="32">
    <div class="title">
      <h3>Junior UI Designer</h3>
      <h4>Auxiliary Design Co.</h4>
    </div>
    <div class="type">
    Freelance
    </div>
  </a>
</li>