<div class="pin">
  <a href="#">
    <h3>Junior UX Designer/Strategist</h3>
    <h4>New Media</h4>
    <p class="location">Singapore</p>
    <span class="date">12 March</span>
  </a>
</div>

<div class="pin">
  <a href="#">
    <h3>Front End Developer @ Styloot.com</h3>
    <h4>New Media</h4>
    <p class="location">Singapore</p>
    <span class="date">12 March</span>
  </a>
</div>

<div class="pin">
  <a href="#">
    <h3>Javascript Engineer @ Styloot.com</h3>
    <h4>New Media</h4>
    <p class="location">Singapore</p>
    <span class="date">12 March</span>
  </a>
</div>

<div class="pin">
  <a href="#">
    <h3>Looking for Programmer with PHP with codeigniter, Jquery,Java Script,CSS,HTML</h3>
    <h4>New Media</h4>
    <p class="location">Singapore</p>
    <span class="date">12 March</span>
  </a>
</div>

<div class="pin">
  <a href="#">
    <h3>App Developer in Phonegap</h3>
    <h4>New Media</h4>
    <p class="location">Singapore</p>
    <span class="date">12 March</span>
  </a>
</div>

<div class="pin">
  <a href="#">
    <h3>Front-end Engineer + ExpressionEngine expert</h3>
    <h4>New Media</h4>
    <p class="location">Singapore</p>
    <span class="date">12 March</span>
  </a>
</div>

<div class="pin">
  <a href="#">
    <h3>Senior Front-End Web Developer Strategic Partnerships (HTML,CSS, Javascript)</h3>
    <h4>New Media</h4>
    <p class="location">Singapore</p>
    <span class="date">12 March</span>
  </a>
</div>

<div class="pin">
  <a href="#">
    <h3>User Experience (UX) Specialist</h3>
    <h4>New Media</h4>
    <p class="location">Singapore</p>
    <span class="date">12 March</span>
  </a>
</div>