
  <section class="jobs grid-columns">
    <div class="grid-column-wrapper">
      <%= partial "partials/single-job" %>
      <%= partial "partials/single-job" %>
      <%= partial "partials/single-job" %>

    </div>
  </section>