---
title: Post a Job
---

<div class="row">
  
  <div class="columns twelve">
    
    <h1>Post a job</h1>
    
    
    <ul class="jobtypes">
      <li><label><input type="radio" id="" name="jobtype"> Full-time</label></li>
      <li><label><input type="radio" id="" name="jobtype"> Part-time</label></li>
      <li><label><input type="radio" id="" name="jobtype"> Freelance</label></li>
      <li><label><input type="radio" id="" name="jobtype"> Internship</label></li>
    </ul>

    <dl class="form row">
      <dt class="columns three">
        <label for="JobTitle">Job Category</label>
      </dt>
      <dd class="columns nine">
        <select class="job_cat" id="job_term_cat" name="job_term_cat"><option value="">Select a category…</option>
        	<option value="86" class="level-0">Back-end Development</option>
        	<option value="88" class="level-0">Content Strategy</option>
        	<option value="85" class="level-0">Front-end Development</option>
        	<option value="87" class="level-0">Information Architecture</option>
        	<option value="89" class="level-0">Management</option>
        	<option value="89" class="level-0">Accounting</option>
        	<option value="84" class="level-0">Software Development</option>
        	<option value="80" class="level-0">Web design</option>
        </select>         
      </dd>
    </dl>

    <dl class="form row">
      <dt class="columns three">
        <label for="JobTitle">Job Title</label>
      </dt>
      <dd class="columns nine">
        <input type="text" id="JobTitle">
      </dd>
    </dl>

    <dl class="form row">
      <dt class="columns three">
        <label for="JobTitle">Job Description</label>
      </dt>
      <dd class="columns nine">
        <textarea id="" cols="30" rows="10"></textarea>
      </dd>
    </dl>

    <dl class="form row">
      <dt class="columns three">
        <label for="JobTitle">How to apply</label>
      </dt>
      <dd class="columns nine">
        <textarea id="" cols="30" rows="10"></textarea>
      </dd>
    </dl>


    <h2>Company Details</h2>

    <dl class="form row">
      <dt class="columns three">
        <label for="JobTitle">Company Type</label>
      </dt>
      <dd class="columns nine">
        <select id="comptype" name="comptype">
          <option value="">Choose a type...</option>
          <option value="1">Startup</option>
          <option value="2">Studio</option>
          <option value="3">Small business</option>
          <option value="4">Mid-sized business</option>
          <option value="5">Large organization</option>
          <option value="6">Educational institution</option>
          <option value="7">Non-profit</option>
        </select>
      </dd>
    </dl>

    <dl class="form row">
      <dt class="columns three">
        <label for="JobTitle">Your Name/Company Name</label>
      </dt>
      <dd class="columns nine">
        <input type="text" id="JobTitle">
      </dd>
    </dl>
    <dl class="form row">
      <dt class="columns three">
        <label for="JobTitle">Website</label>
      </dt>
      <dd class="columns nine">
        <input type="text" id="JobTitle" placeholder="http://www.website.com">
      </dd>
    </dl>

    <dl class="form row">
      <dt class="columns three">
        <label for="JobTitle">Logo (gif, jpg, png)</label>
      </dt>
      <dd class="columns nine">
        <input type="file" id="">
      </dd>
    </dl>

    <dl class="form row">
      <dt class="columns three">
        <p>Terms</p>
      </dt>
      <dd class="columns nine">
        <label><input type="checkbox" id=""> I understand that my listing may be removed if it is for a position that involves adult content, an illegitimate work opportunity, or an incorrect job type (i.e. freelance when it should be listed as full-time).</label>
      </dd>
    </dl>
    
    <div class="row submit">
      <div class="columns push-three">
        <button class="button">Preview</button> <button class="button button-secondary">Save Draft</button>
      </div>
    </div>
    
    
    
  
  </div>
</div>